<div class="field">

  <%= form.label field.method_name, field.label %>
  <%= form.send :radio_button, field.name, "Y" %>

  <%= %Q(Yes #{image_tag "yes.png", :alt => "Yes"} &nbsp &nbsp &nbsp).html_safe %>

  <%= form.send :radio_button, field.name, "N" %>

  <%= %Q(No #{image_tag "no.png", :alt => "No"}).html_safe %>

  <% if field.errors.present? %>
      <span class="errorMessage"><%= "#{field.label } #{field.errors.first}" %></span>
  <% end %>
  <p class="help"><%= field.help %></p>
</div>