<ul class="nav nav-tabs">
</ul>

<% total_linhas.to_a.each_with_index do |total_linha,index| -%>
	
	<% cor = index.modulo(2)==0 ? "odd link" : "even link" %>

	<h4 style='text-transform:uppercase;'>
		<%= total_linha[0] %>
	</h4>	

	<div class="row-fluid">
		<div class="span10">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th class="shrink">Pergunta</th>
						<th class="shrink" style='width:60px;text-align:center;'>Resposta</th>
						<th  style='width:50%;' class="records" style='text-align:center;'>Análise </th>
					</tr>
				</thead>
				<tbody>
				<tr class=<%=cor%> title='EXISTE PELO MENOS UM CREATE ?'>
					<td>
						EXISTE PELO MENOS UM CREATE ?
					</td>
					<td style='text-align:center;'>
						<%= existe_create?(total_linha[1]) %>
					</td>
					<td>
						<%= nao_existe_create?(total_linha[1]) %>
					</td>
					
				</tr>
				<tr class=<%=cor%> title='EXISTE PELO MENOS UM READ ?'>
					<td>
						EXISTE PELO MENOS UM READ ?
					</td>
					<td style='text-align:center;'>
						<%= existe_read?(total_linha[1]) %>
					</td>
					<td>
						<%= nao_existe_read?(total_linha[1]) %>
					</td>
					
				</tr>
				<tr class=<%=cor%> title='EXISTE PELO MENOS UM DELETE ?'>
					<td>
						EXISTE PELO MENOS UM DELETE ?
					</td>
					<td style='text-align:center;'>
						<%= existe_delete?(total_linha[1]) %>
					</td>
					<td>
						<%= nao_existe_delete?(total_linha[1]) %>
					</td>
				</tr>
				<tr class=<%=cor%> title='INTERAGE COM PELO MENOS UMA ENTIDADE ?'>
					<td>
						INTERAGE COM PELO MENOS UMA ENTIDADE ?
					</td>
					<td style='text-align:center;'>
						<%= existe_entidade?(total_linha[1]) %>
					</td>
					<td>
						<%= nao_existe_entidade?(total_linha[1]) %>
					</td>
				</tr>
				
				</tbody>
			</table>

		</div>
	</div>
<% end -%>