<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function() {
      /* Activating Best In Place */
      $(".best_in_place").best_in_place();
      $(".best_in_place").live("click", function(){
      	$('input[type="submit"]').addClass('btn btn-mini btn-primary').css('margin-right','3px').css('margin-bottom','9px');
	  });

	  $('.best_in_place').bind("ajax:success", function(){
	  	$('#loading').show();
	  	document.location.reload(true);
	  });

    });
    //]]>
</script>

<style type="text/css">
.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
body {
	color: #4f6b72;
	background: #E6EAE9;
}

a {
	color: #c75f3e;
}

#mytable {
	width: 700px;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 250px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

th {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../bg_header.jpg) no-repeat;
	max-width: 100px;
}

th.entidade {
	text-align: center;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	text-align: center;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

.best_in_place {
	padding: .1m;
	cursor: hand;
	cursor: pointer;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	-webkit-transition: background 0.5s linear;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-transform: uppercase;
}

.best_in_place:hover {
  	background-color: #CCC;
}

.purr {
	position: fixed;
	width: 324px;
	top: 50px;
	right: 15px;
	padding: 20px;
	background-color: #333;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
}
.purr:hover .close	{
	position: absolute;
	top: 5px;
	right: 3px;
	display: block;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

input[name="crud"] {
	width: 50px;  
	height: 12px;  
	margin-right: 5px;
	text-transform: uppercase;
}

</style>

<p id="notice"><%= notice %></p>

<table id="mytable" cellspacing="0" summary="Matrix">
<caption>Entidades Informacionais</caption>
  <tr>
    <th scope="col" abbr="Funcionalidades" class="nobg">Funcionalidades</th>
    <% @entidades.each do |entidade| -%>
    	<th class="entidade" scope="col" abbr=<%= entidade.name %> ><%= entidade.name %></th>
	<% end -%>
	<th class="entidade" scope="col" abbr="Totais" >TOTAL</th>
  </tr>

  <% total_cases='' %>	
  <% total_entidades=Array.new()  %>	
  <% @cases.each_with_index do |cdu,index| -%>
  	
  	

  	<% cor = index.modulo(2)==0 ? "spec" : "specalt" %>
  	<% alt = index.modulo(2)==0 ? "" : "alt" %>
  	<tr>
	    <th scope="row" abbr=<%= cdu.name %> class=<%=cor%> ><%= cdu.name %></th>
	    	<% @entidades.each_with_index do |entidade,index| -%>
	    		<% matrix=matrix_crud(cdu.id,entidade.id) %>
			    <td class=<%=alt%>>
			    	<% matrix=Matrix.new(:crud=>'') if matrix.blank? %>

			    	<%= best_in_place matrix, :crud, :type => :input,:nil =>'--' , :path => project_path(:case_id => cdu.id, :tabela_id => entidade.id,:lock_version =>matrix.lock_version ),:ok_button => 'OK' unless matrix.blank? %>	

			    	<% total_cases.concat(matrix.crud.to_s) unless matrix.blank? %>	

			    	<% #total_entidades[index] = matrix.crud.to_s unless matrix.blank? %>	

			    </td>
			<% end -%>
			<td class=<%=alt%>>
				C<%= total_cases.count "C" %>
				R<%= total_cases.count "R" %>
				U<%= total_cases.count "U" %>
				D<%= total_cases.count "D" %>
			</td>
  	</tr>
  <% end -%>
  <tfoot>
    <tr>
      <td>TOTAIS</td>
      <% total_entidades.each do |total| -%>
      	<td>
      		C<%= total.count "C" %>
			R<%= total.count "R" %>
			U<%= total.count "U" %>
			D<%= total.count "D" %>
      	</td>
      <% end -%>
      <td></tb>
    </tr>
  </tfoot>
</table>

<h6><%= link_to "CRUD?", "http://pt.wikipedia.org/wiki/Matriz_de_intera%C3%A7%C3%B5es" %></h6>
<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= best_in_place @project, :name, :type => :input,:nil =>'--' ,:ok_button => 'Save', :cancel_button => 'Cancel',:html_attrs =>{:size=>'3'} %>	
