<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function() {
      /* Activating Best In Place */
      $(".best_in_place").best_in_place();
      $(".best_in_place").live("click", function(){
      	$('input[type="submit"]').addClass('btn btn-mini btn-primary').css('margin-right','3px').css('margin-bottom','9px');
	  });

	  $('.best_in_place').bind("ajax:success", function(){
	  	$('#loading').show();
	  	document.location.reload(true);
	  });

    });
    //]]>
</script>

<br><br><br><br><br><br>
<caption>Entidades Informacionais</caption>
<p id="notice"><%= notice %></p>

<table id="mytable" cellspacing="0" summary="Matrix">

  <tr>
  	<tr>
    	<th scope="col" class="nobg">Funcionalidades</th>
    	<% @entidades.each do |entidade| -%>
    		<td class="rotate" scope="col" %>
    			<div style="margin-left:5px;"><%= entidade.name %></div>
    		</td>
		<% end -%>
		<th class="entidade" scope="col" abbr="Totais" >TOTAL</th>
  	</tr>  
  </tr>

  <% total_colunas =Hash.new %>
  <% total_linhas =Hash.new %>

  <% soma_total ="" %>

  <% @cases.each_with_index do |cdu,i| -%>
  	
  	<% total_linha='' %>	
  	<% cor = i.modulo(2)==0 ? "spec" : "specalt" %>
  	<% alt = i.modulo(2)==0 ? "" : "alt" %>

  	<tr>
	    <th scope="row" class=<%=cor%>><a class="pjax" href="/admin/case/1"> <%= cdu.name %></th>

	    	<% @entidades.each_with_index do |entidade,j| -%>

	    		<% caseTabela=matrix_crud(cdu.id,entidade.id) %>

			    <td class=<%=alt%>>

			    	<% caseTabela=CaseTabela.new(:crud=>'') if caseTabela.blank? %>

			    	<%= best_in_place caseTabela, :crud, :type => :input,:nil =>'--' , 
			    		:path => project_path(:case_id => cdu.id, :tabela_id => entidade.id,
			    		:lock_version =>caseTabela.lock_version ),:ok_button => 'OK' unless caseTabela.blank? %>	

			    	<% total_linha.concat(caseTabela.crud.to_s) unless caseTabela.blank? %>	
			    	
			    	<% total_colunas[entidade.name]= total_colunas[entidade.name].concat(caseTabela.crud) unless total_colunas[entidade.name].blank? %>
					
					<% total_colunas[entidade.name]= caseTabela.crud if total_colunas[entidade.name].blank? %>

			    </td>
			<% end -%>
			<td class=<%=alt%>>
				<%=render :partial => 'crud', :locals =>{:total_cases => total_linha} %>
			</td>
  	</tr>
  	<% total_linhas[cdu.name] =total_linha %>
  	<% soma_total.concat(total_linha) unless total_linha.blank? %>	
  <% end -%>
  <tfoot>
    <tr>
    	<td>TOTAL</td>
    	<% total_colunas.each_with_index do |total_colunas,index| -%>
	  		<td>
	  			<%=render :partial => 'crud', :locals =>{:total_cases => total_colunas} %>
			</td>
		<% end -%>
      	<td>
      		<%=render :partial => 'crud', :locals =>{:total_cases => soma_total} %>
      	</tb>
    </tr>
  </tfoot>
</table>

<h6><%= link_to "CRUD ?", "http://pt.wikipedia.org/wiki/Matriz_de_intera%C3%A7%C3%B5es" %></h6>
<br><br>

<%=render :partial => 'analise', :locals =>{:total_linhas => total_linhas, :total_colunas => total_colunas} %>


